Welcome to LoginID Wallet.

We are excited to have you onboard. You are now able to manage your credentials and control who can access what information about you on the wallet. 

Your Account: {{.Url}}
