Hello,

Please verify that the following verification code matches the one displayed on the screen before confirming your email below:

{{.Session}}

If the codes match, please confirm with the Verify Email button below and return to {{.Origin}}.
The email verification session will expire in 5 minutes.

Use the following link to verify your email: {{.Url}}

If the verification codes do not match, please ignore this email. 
