.tHeader {
    font-weight: 'bold' !important;
}

.formControl{
    background: rgba(242, 242, 242, 0.2);
    border: 1px solid #EAEAEA;
}

.txBox{
    background: rgba(242, 242, 242, 0.2);
    border: 1px solid #EAEAEA;
    border-radius: 5px;
}

.partnerRoot{
    padding-top: 100%;
    display: "block";
    position: "relative";
}
.partnerBox{
    background: #FAFAFA;
    border-radius: 10px;
    width:100%;
    height:100%;
    
}
  .partnerMedia {
    height:75%;
    width:75%;
    object-fit: contain;
  }
  .partnerText {
    max-height: 25%;
    max-width:100%;
    object-fit: "contain";
  }