.tHeader {
    font-weight: 'bold' !important;
}

.formControl{
    background: rgba(242, 242, 242, 0.2);
    border: 1px solid #EAEAEA;
}

.txBox{
    background: rgba(242, 242, 242, 0.2);
    border: 1px solid #EAEAEA;
    border-radius: 5px;
}